<div class="chat">
    <h3><span id="user-for-chat"></span></h3>
    <div class="messages" id="messages"></div>
    <div class="cls"></div>
    <div class="input">
        <p>
            <!--<input type="text" id="input"/>-->
            <textarea id="input"></textarea>
        <div class="cls"></div>
            <button title="Send" class="ui-button" id="send-btn"></button>
            <div class="cls"></div>
        </p>
    </div>
    <div class="cls"></div>
</div>
<img id="chat-preload" src="/img/preload.gif"/>
