<div class="video-wrap" id="video-wrap">


    <div class="remoteVideo">
        <h3><span id="user-for-videochat"></span></h3>
        <video id="remoteVideo" autoplay></video>
    </div>
    <div class="localVideo">
        <h3>You</h3>
        <video id="localVideo" autoplay muted></video>
    </div>

    <div class="call-buttons">
        <button class="ui-button" title="Call" id="callButton"><img class="icon" src="/img/phone.svg"/></button>
        <button class="ui-button" title="Finish call" id="hangupButton"><img class="icon" src="/img/phone-hang-up.svg"/></button>
        <button class="ui-button" title="ShareScreen" id="screenshareButton"><img class="icon" src="/img/screenshare.svg"/></button>
        <button class="ui-button" title="Camera Off" id="videoOff"><img class="icon" src="/img/camera-mute.svg"/></button>
        <button class="ui-button" title="Camera On" id="videoOn"><img class="icon" src="/img/camera2.svg"/></button>
        <button class="ui-button" title="Microphon Off" id="audioOff"><img class="icon" src="/img/audio-mute.svg"/></button>
        <button class="ui-button" title="Microphon On" id="audioOn"><img class="icon" src="/img/audio.svg"/></button>
    </div>

</div>